body{
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;}

h3{
    margin-top: 25px;
    color: #4278AD;}

h4{
    color: #6B95BF;}

a{
    cursor: pointer;}

p{
    margin-left: 250px;
    margin-top: 15px;
    max-width: 1000px;}

#green{
    width: 20%;}

#green:hover{
    background: #25B023;
    color: #fff;}

#blue{
    width: 20%;}

#blue:hover{
    background: #235BB0;
    color: #fff;}

#red{
    width: 20%;}

#red:hover{
    background: #B02323;
    color: #fff;}

button{
    color: #6B95BF;
    width: 66%;
    cursor: pointer;
    height: 44px;
    border: 0;
    border-radius: 0;
    border:1px solid #6B95BF;;
    border-radius: 8px;
    position: relative;}

button:hover{
    background: #4278AD;
    color: #fff;}

table{
    max-width: 1000px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}

thead{
    background-color: #6B95BF;}